body{
    margin: 0;
    padding: 0;
    background-image: url(./imagens/paisagem.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    
}

h3{
    background-color: rgb(202, 16, 16);
    margin: 10px;
    width: 400px;
}

.box1{
    background-color: rgb(138, 0, 0);
    padding: 16px;
    margin: 10px;
    width: 400px;
}

.box2{
    background-color: rgb(255, 145, 0);
    width: 400px;
    padding: 20px;
    margin: 10px;
    border: 5px solid red;
}

.box3{
    background-color: rgb(153, 81, 82);
    width: 400px;
    margin: 10px;
}

.box4{
    background-color: rgb(19, 126, 69);
    width: 400px;
    margin: 10px;
}

*{
    box-sizing: border-box;
}