main{
    margin: 80px 110px;
}

.titulo{
    color: #4bd86e;
    font-size: 45px;
    font-weight: bold;
}

.subtitulo{
    color: rgb(70, 70, 70);
}

.container{
    display: flex;
    flex-wrap:wrap;
    width: 300px;
    height:auto;
    padding: 20px; 
   
}

.card{
    display: flex;
    border-radius: 12px;
    background-color: #494949;
    width: 180px;
    height: 290px;
    box-sizing: border-box;
    margin: 20px 5px;
    overflow: hidden; 
    align-items: center;
    padding: 10px;
    transition: 0.4s;
}

.card:hover{
    transform: scale(1.1);
}

.leg{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}



.sub{
    color: #080808;
    font-weight: bold;
    margin-top: auto;
}

.foto {
    border-radius:100%;
    border:50px;
    width: 120px;
    margin-bottom: 10px;

    
}

.git {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
}

.git-icone{
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

.squad {
   text-align: center;
   color: rgb(192, 187, 187);
}

.nome {
    color: #35a350;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 100px;
}

.git-nome {
    color: black;
    font-weight: bold;
    text-decoration: none;

}