.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.cartao{
    display: flex;
    flex-direction: column;
    background: rgb(45,138,134);
    background: linear-gradient(180deg, rgba(45,138,134,1) 22%, rgba(11,84,120,1) 87%);
    width: 45%;
    box-sizing: border-box;
    padding: 50px 20px;
    align-items: center;
    justify-content: center;
}

.frente{
    display: flex;
    flex-direction: column;
    width: 82%;
    background: rgb(237,174,56);
    background: radial-gradient(circle, rgba(237,174,56,1) 47%, rgba(254,192,5,1) 100%);
    border-radius: 5px;
    height: 28%;
    margin-bottom: 30px;
    padding: 10px;
}

.logo-bandeira{
    margin-bottom: 40px;
}

.cartao-footer{
    display: flex;
    justify-content: space-between;
}

.verso{
    display: flex;
    flex-direction: column;
    width: 82%;
    background-color: rgb(191, 190, 190);
    border-radius: 5px;
    height: 28%;
    align-items: center;
}

.faixa{
    background-color: black;
    height: 40px;
    width: 100%;
    margin-top: 15px;
}

.codigo-seg{
    background-color: grey;
    width: 85%;
    height: 17%;
    margin-top: 10px;
    text-align: end;
    padding-right: 10px;
    color: rgb(240, 238, 238);

}

/*FORMULÁRIO*/

.form{
    margin: 220px 250px;
    box-sizing: border-box;
}

.btn{
    background: rgb(45,138,134);
    background: linear-gradient(180deg, rgba(45,138,134,1) 22%, rgba(11,84,120,1) 87%);
    color: white;
    width: 100%;
}

.label-titulo{
    display: flex;
    justify-content: space-between;
    width: 75%;
}


