body {
    font:18px 'Gilroy', sans-serif;
    background-color: rgb(15, 99, 122);
    margin: 100px;
    }

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
}

#senha, #email{
    width: 400px;
    height: 30px;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

.tabelas{
    display: flex;
    justify-content: center;
}

.tabela_java, .tabela_sales{
    margin-right: 30px;
}

table{
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    text-align: start;
}

img{
    margin-right: 10px;
    width: 15%;
}

.titulo{
    font-size: 25px;
    text-align: center;
}

.bolsa-integral{
    color: rgb(15, 99, 122);
    font-size: 23px;
    font-weight: 800;
}

.inscrever{
    background-color: rgb(255, 247, 13);
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 15px;
    font-weight: 600;
}

.inscrever:hover{
    background-color: rgb(227, 193, 3);
    cursor: pointer;
}

button{
    background-color: rgb(227, 193, 3);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding: 15px;
    font-weight: 600;
    font-size: 16px;
}

button:hover{
    background-color: rgb(189, 161, 3);
    cursor: pointer;
}