body{
    margin:  0;
    font-family: Arial, Helvetica, sans-serif
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 350px;
    align-items: center;
    align-content: flex-start;
}

.box-1{
    background-color: rgb(229, 18, 18);
    align-self: flex-end;
    order: 1;
}

.box-2{
    background-color: rgb(249, 216, 6);
    height: 300px;
    order: 4;
}

.box-3{
    background-color: rgb(32, 191, 45);
    align-self: flex-start;
    order: 2;
}

.box-4{
    background-color: rgb(46, 153, 195);
    order: 3;
}

.container div{
    width: 200px;
    border-radius: 8px;
    padding: 8px;

}

.box-5{
    background-color: rgb(32, 161, 161);
    flex: 1;
}

.box-6{
    background-color: rgb(32, 99, 161);
    flex: 2;
}

.box-7{
    background-color: rgb(161, 32, 51);
    width: 200px;
}

.container2{
    display: flex;
    height: 200px;
}