<section>
    <div class="card">
        <div class="caixa-fundo">
            <img src="/assets/relogio.png" alt="relógio-pulso" class="img-produto" width="220px">
        </div>
        <h2>RELÓGIO GREEN</h2>
        <p class="descricao">Um relógio de extrema qualidade, do jeito que você procura.</p>
        <p class="preco">$60</p>
        <div class="estrelas">
            <span><img src="/assets/estrela.png" alt="" width="12px"></span><span><img src="/assets/estrela.png" alt="" width="12px"></span><span><img src="/assets/estrela.png" alt="" width="12px"></span><span><img src="/assets/estrela-cinza.png" alt="" width="12px"></span><span><img src="/assets/estrela-cinza.png" alt="" width="12px"></span>
        </div>
        <div class="rodape-card">
            <button class="btn-rodape-card">ADICIONAR </button>
        </div>
        
    </div>
</section>
