section{
    background-color: rgb(232, 231, 231);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 300px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    
}

.caixa-fundo{
    position: relative;
    background-color: rgb(249, 247, 247);
    height: 120px;
    width: 200px;
    margin: 40px;
    text-align: center;
}

.img-produto{
    position: absolute;
    top: -20px;
    left: -10px;
}

h2{
    font-size: 17px;
}

.descricao{
    font-size: 13px;
    text-align: center;
    color: rgb(58, 58, 58);
    margin: 0 30px;
}

.preco{
    color: rgb(134, 169, 120);
    font-size: 22px;
    font-weight: bold;
}

.estrelas{
    margin-bottom: 25px;
}

.rodape-card{
    display: flex;
    background-color: rgb(134, 169, 120);
    width: 100%;
    height: 35px;
    justify-content: center;
    align-items: center;
    
}

.rodape-card .btn-rodape-card:hover{
    background-color: rgba(134, 169, 120, 0.886);
}

.btn-rodape-card{
    background-color: rgb(134, 169, 120);
    border: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
  
    cursor: pointer;
}

