*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(179, 255, 199);
}

.botao{
    background-color: rgb(162, 199, 105);
    border: none;
    font-size: 16px;
    padding: 10px 28px;
    border-radius: 5px;
    margin: 5px 5px;
    cursor: pointer;

}

.botao:hover{
    background-color: rgb(73, 158, 47);
    transform: rotate(360deg) scale(1.2);
    transition: 1.2s;
}

.com-azul{
    background-color: rgb(30, 181, 156);
}

.tabela{
    width: 400px;
    border-collapse: collapse;
    margin: auto;
}

.tabela tr, .tabela th{
    border: 
    1px solid rgb(197, 195, 195);
    padding: 12px 10px;
}

.tabela td{
    padding: 12px 10px;
}

.tabela th{
    background-color: rgb(34, 172, 126);
    padding: 12px 0;
    color: aliceblue;
}

.tabela tr:nth-child(even){ /*even = par, odd = impar*/
    background-color: rgb(252, 252, 235);

}

.tabela tr:hover{
    background-color: rgb(220, 245, 223);
}

/* Formulário */

.my-form{
    border-radius: 6px;
    background-color: #ffffff3e;
    padding: 20px 20px;
    width: 300px;
    margin: auto;
}

h3, h2{
    text-align: center;
}

.my-form input{
    width: 100%;
    padding: 12px 8px;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
}

.toda-largura{
    width: 100%;
    margin: 5px 0;
}

.label-input{
    margin-bottom: 20px;
}

::placeholder{
    color: blueviolet;
}

.imagem{
    opacity: 0.5;
    margin-left: 580px;
}

